---
title: URL encode/decode
---
<article>
	<form role='grid'>
		<fieldset>
			<legend>Plain</legend>
			<textarea id='t_plain'></textarea>
			<button id='b_encode'>Encode&gt;</button>
			<button id='b_encode_again' title="Copies the Encoded values to the Plain value and encodes it again!">Encode again&gt;</button>
			<button id='b_encode_clear'>Clear</button>
		</fieldset>
		<fieldset>
			<legend>Encoded</legend>
			<button id='b_decode'>&lt;Decode</button>
			<button id='b_decode_again' title="Copies the Encoded values to the Plain value and encodes it again!">&lt;Decode again</button>
			<button id='b_decode_clear'>Clear</button>
			<textarea id='t_encoded'></textarea>
		</fieldset>
	</form>
</article>
<script type='module' src='/js/url_encoding.mjs'></script
