---
title_suffix: doctoru.github.io
---
<!DOCTYPE html>
<html>

<head>
	<title>{{ title }} | {{title_suffix}}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body class="container">
	<header>
		<h1>{{ title }} </h1>
		<time datetime="{{page.date.toISOString()}}"></time>
	</header>
	<main>
		<article>
			{{ content | safe }}
		</article>
		</main>
		<aside>
			<nav>
				<ol>
					<li><a href="/" role="button" id="home">Home</a></li>
					<li><a href="/tools" role="button" id="tools"> Tools</a></li>
					<li><a href="/about" role="button" id="about">About</a></li>
				</ol>
			</nav>
		</aside>
	</div>
	<footer>
		&copy; 2024 Steve Hobdell
	</footer>
</body>

</html>