<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="container">
    <header>
      <h1>{{ title }}</h1>
      <nav>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/about">About</a></li>
        </ol>
      </nav>
    </header>
    {{ content | safe }}
  </body>
</html>
