---
title: Compound Interest Calculator
---
<p>My little ol' compound interest calculator!</p>
<p>It's all client side. There's no validation, so you could break the form with math(s)!</p>
<p>The compounded value is rounded to the nearest 2dp.</p>
{{page.tags}}
<h2>Input</h2>
<form>
	<fieldset>
		<legend>Currency</legend>
		<input type="radio" name="i_currency" value="USD">&dollar;</input>
		<input type="radio" name="i_currency" value="GBP" checked>&pound;</input>
		<input type="radio" name="i_currency" value="EUR">&euro;</input>
	</fieldset>
	<fieldset>
		<legend>Input Values</legend>
		<label>Initial Amount<span aria-label="required">*</span>
		<fieldset role="group">
			<button id="start_currency" type="button">&pound;</button>
			<input id='start_amt' type='number' required aria-required="true" min="0.01" aria-invalid="true" placeholder="2dp" step="0.01"></input>
			
			</fieldset>
			<small>Please enter the start amount.</small>
		</label>
		<label>Interest Rate<span aria-label="required">*</span><input id='int_rate' type='range' min='0.0' max='100.0' step='0.1' value="4.5" aria-invalid="false"></input>
		<small><span>4.5</span>%</small>
		</label>
		<label>Years<span aria-label="required">*</span><input id='years' type='number' required min="1" aria-invalid="true" placeholder="Whole years only"/>
		<small>Select the number of years over which to compound interest.</small>
		</label>
	</fieldset>
	<fieldset>
		<legend>Result</legend>
		<table>
			<tr>
				<th>Compounded Value:</th>
				<td id='result'>0</td>
			</tr>
		</table>
			</fieldset>
	<fieldset class='grid'>
		<button type='button' id='b_clear'> Clear</button>
	</fieldset>
</form>
<script src="/js/compound_interest.mjs"></script>