<html ng-app='redundancyApp'>

<head>
  <title>Redundancy Calculator</title>
<link rel="stylesheet" href="./redundancy.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="./redundancy.js"></script>
</head>
<body ng-controller="RedundancyController as $ctrl">
  <h1> Redundancy Calculator</h1>
  <p>
    This calculator calculates statutory and optimal redundancy payment values.
    The values shown here are based on the gov.uk guidelines <a href="https://www.gov.uk/redundant-your-rights/redundancy-pay">Redundancy</a> and <a href="https://www.gov.uk/redundant-your-rights/notice-periods">Notice</a> Pay, for redundancy after 6 April 2016.
    However, they also include non-statutory values, i.e., where the weekly salary value is not capped, nor the notice period</a>
  <p>
<form>
<label for="preselect">Preselect values</label>
<select ng-change="selectOption()" ng-model="predefinedOption" ng-options="value.id as value.salary for value in options">
  <option>--</option>
</select>
<label for="age">Age</label><input id="age" ng-model="data.age"/>
<label for="Years Of Service">Years Of Service</label><input id="Years Of Service" ng-model="data.yos"/>
<label for="Salary">Salary</label><input id="Salary" ng-model="data.salary"/>
<label for="Notice Period (Weeks)">Notice Period (Weeks)</label><input id="Notice Period (Weeks)" ng-model="data.notice"/>
<button ng-click="$ctrl.calculate(data)">Calculate</button>
</form>
<div id="Summary">
<div>Age: {{calculation.age}}</div>
<div>Years of Service: {{calculation.yos}}</div>
<div>Salary: {{calculation.salary}}</div>
<div>
<div id="interim Calculations">
  <h2>Statutory Award</h2>
  <div>Weekly Pay: <span>&pound;{{statutory.weekly|number:2}}</span><span ng-show="statutory.weeklyCapped"> (Capped)</span></div>
  <div>Notice Entitlement (weeks): <span>{{statutory.noticeWeeks}}</span></div>
  <div>Redundancy Entitlement (weeks): <span>{{statutory.redundancyWeeks}}</span></div>
  <div>Notice Entitlement (value, un-taxed): <span>&pound;{{statutory.noticePayment|number:2}}</span></div>
  <div>Redundancy Entitlement (value, pre-tax): <span>&pound;{{statutory.redundancyPayment|number:2}}</span><span ng-show="statutory.redundancyCapped"> (Capped)</span></div>

  <h2>Optimal Award</h2>

  <div>Weekly Pay: <span>&pound;{{calculation.weekly|number:2}}</span></div>
  <div>Notice Entitlement (weeks): <span>{{calculation.noticeWeeks}}</span></div>
  <div>Redundancy Entitlement (weeks): <span>{{calculation.redundancyWeeks}}</span></div>
  <div>Notice Entitlement (value, un-taxed): <span>&pound;{{calculation.noticePayment|number:2}}</span></div>
  <div>Redundancy Entitlement (value, pre-tax): <span>&pound;{{calculation.redundancyPayment|number:2}}</span></div>
</div>
</body></html>
