<html ng-app='redundancyApp'>

<head>
<link rel="stylesheet" href="./redundancy.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>
var myApp = angular.module('redundancyApp', []);
myApp.controller('RedundancyController', ['$scope',function($scope) {
  var self = this;
  self.noticeEntitlement = function(yos) {
    if(yos < 2)  return 1;
    if(yos >12) return 12;
    return yos;
  };
  self.redundancyEntitlement = function(age, yos) {
    var ageRemaining = age;
    var entitlement = 0;
    do {
      if(ageRemaining > 41 ) {
        entitlement += 1.5;
      } else
      if (ageRemaining > 22 ) {
        entitlement += 1.0;
      } else {
        entitlement += 0.5;
      }
      ageRemaining--;
    }
    while(--yos > 0);
    return entitlement;
  };
  self.calculate = function(data) {
    var c = $scope.calculation;
    console.log("calculate", data);
    self.saveData(data);
    c.noticeEntitlement = self.noticeEntitlement(c.yos);
    c.weeklyFromSalary = c.salary / 52.0;
    c.weekly = self.min(c.weeklyFromSalary, 479.0);
    c.entitlement = self.redundancyEntitlement(c.age, c.yos);
    c.noticePayment= c.noticeEntitlement * c.weekly;
    c.redundancyPayment= c.entitlement * c.weekly;

  };
  self.max = function(val1, val2) {
    return val1 > val2? val1 : val2;
  };
  self.min = function(val1, val2) {
    return val1 < val2? val1 : val2;
  };
  self.saveData = function (data) {
    var c = $scope.calculation;
    c.age = data.age;
    c.yos = data.yos;
    c.salary = data.salary;
    c.notice = data.notice;
  };
  $scope.selectOption = function() {
    console.log($scope.predefinedOption);
    $scope.data=$scope.options[$scope.predefinedOption];
    self.calculate($scope.data);
  };
  $scope.calculation={};
  $scope.options=[
    {age:20,yos:2,salary:26000,notice:4, id:0},
    {age:30,yos:3,salary:36000,notice:4, id:1},
    {age:40,yos:4,salary:46000,notice:4,id:2}
  ];
  $scope.data=$scope.options[2];
  self.calculate($scope.data);
}]);
</script
</head>
<body ng-controller="RedundancyController as $ctrl">
<form>
<label for="preselect">Preselect values</label>
<select ng-change="selectOption()" ng-model="predefinedOption" ng-options="value.id as value.salary for value in options">
  <option>--</option>
</select>
<label for="age">Age</label><input id="age" ng-model="data.age"/>
<label for="Years Of Service">Years Of Service</label><input id="Years Of Service" ng-model="data.yos"/>
<label for="Salary">Salary</label><input id="Salary" ng-model="data.salary"/>
<label for="Notice Period (Weeks)">Notice Period (Weeks)</label><input id="Notice Period (Weeks)" ng-model="data.notice"/>
<button ng-click="$ctrl.calculate(data)">Calculate</button>
</form>
<div id="Summary">
<div>Age: {{calculation.age}}</div>
<div>Years of Service: {{calculation.yos}}</div>
<div>Salary: {{calculation.salary}}</div>
<div>
<div id="interim Calculations">
<h2>Intermediate Calculations</h2>

<div>Weekly Pay: <span id="weekly">{{calculation.weekly|number:0}}</span></div>
<div>Notice Entitlement: <span>{{calculation.noticeEntitlement}}</span>
<div>Redundancy Entitlement: <span>{{calculation.entitlement}}</span>
</div>
<div id="Calculated Redundancy">
<h2>Calculated Redundancy</h2>
<div>Redundancy Value: <span id="redundancyValue">&pound;{{calculation.redundancyPayment|number:2}}</span></div>
<div>Notice Payment: &pound;{{calculation.noticePayment|number:2}}
</div>
</body></html>
