label {
  display:block;
}
input, select, button {
  padding: 0.2em;
  margin-bottom: 1em;
}
input {
  border: 2px solid;
}
.calculations div {
  float:left;
  clear:left;
  margin: 0.3em;
}
em.info {
  display:block;
  margin-left: 2em;
}
.calculations h2 {
  clear:both;
}
